/*------------------------
	Button default 
--------------------------*/
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

button:focus,
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/*------------------------
	Button Learn more
--------------------------*/
.btn-android,
.btn-apple {
    position: relative;
    width: 144px;
    display: inline-block;
    height: 48px;
    color: #66BB6A;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.1);
    padding: 8px 21px;
}

.btn-android,
.btn-apple {
    position: relative;
}

.btn-android:after,
.btn-apple:after {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    z-index: -1;
    border-radius: 4px;
}

.btn-android:hover::after,
.btn-apple:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.btn-android:before,
.btn-apple:before {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: -1;
    border-radius: 4px;
}

.btn-android:hover::before,
.btn-apple:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

/*------------------------
	Button Learn more
--------------------------*/
.learn-more-btn .btn-pri {
    background: #66BB6A;
    padding: 16px 33px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 19px 0px 0px 74px;
    display: inline-block;
    transform: perspective(1px)translateX(0px);
    overflow: hidden;
}

.learn-more-btn .btn-pri {
    position: relative;
}

.learn-more-btn .btn-pri:after {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    z-index: -1;
}

.learn-more-btn .btn-pri:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.learn-more-btn .btn-pri:before {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: -1;
}

.learn-more-btn .btn-pri:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

/*------------------------
	Video button css
--------------------------*/
.video-icon {
    width: 80px;
    height: 80px;
    color: #000;
    display: inline-block;
    line-height: 80px;
    border-radius: 50%;
    font-size: 23px;
    position: relative;
    transform: perspective(1px)translateX(0px);

}

.video-icon .fas {
    color: rgb(0, 0, 0);
}

.video-icon:hover .fas {
    color: #fff;
}

/*vidoe button hover*/
.video-icon:after {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    border-radius: 50%;
    z-index: -1;
}

.video-icon:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.video-icon:before {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    border-radius: 50%;
    z-index: -1;
}

.video-icon:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

/*------------------------
	See all 
--------------------------*/
.see-all a {
    padding: 18px 60px;
    font-size: 16px;
    border-radius: 30px;
    color: #000;
    margin-top: 34px;
    display: inline-block;
    transform: perspective(1px)translateX(0px);
    overflow: hidden;
}

.see-all a:after {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    z-index: -1;
}

.see-all a:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.see-all a:before {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: -1;
}

.see-all a:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
    border-radius: 30px;
}

/*------------------------
	pricing button 
--------------------------*/
.single-pricing-table .sign-up {
    font-size: 13px;
    font-weight: 700;
    color: #000;
    border: 1px solid #5A5A5A;
    padding: 11px 30px;
    display: inline-block;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    transform: perspective(1px)translateX(0px);
}

.single-pricing-table .sign-up:hover {
    border-color: #66BB6A;
}

.single-pricing-table .sign-up:after {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    z-index: -1;
}

.single-pricing-table .sign-up:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.single-pricing-table .sign-up:before {
    background: #66BB6A;
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: -1;
}

.single-pricing-table .sign-up:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

/*------------------------
	Contact Submit 
--------------------------*/
.contact-right .btn-lg {
    padding: 14px 64px;
    border: 0;
    background: #66BB6A;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    transform: perspective(1px)translateX(0px);
    overflow: hidden;
}

.contact-right .btn-lg:after {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    z-index: -1;
}

.contact-right .btn-lg:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.contact-right .btn-lg:before {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: -1;
}

.contact-right .btn-lg:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

/*------------------------
	Subscribe button
--------------------------*/
.subscribe-contant form .btn.btn-primary {
    width: 19%;
    height: 60px;
    font-size: 20px;
    color: #66BB6A;
    border-radius: 31px;
    border-color: #fff;
    margin-left: 22px;
    position: relative;
    transform: perspective(1px)translateX(0px);
    overflow: hidden;
}

.subscribe-contant form .btn.btn-primary:hover {
    border-color: rgb(0, 0, 0);
}

.subscribe-contant form .btn.btn-primary:after {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: scale(1);
    z-index: -1;
    border-radius: 31px;
}

.subscribe-contant form .btn.btn-primary:hover::after {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.subscribe-contant form .btn.btn-primary:before {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    transform: scale(1);
    z-index: -1;
    border-radius: 31px;
}

.subscribe-contant form .btn.btn-primary:hover::before {
    height: 100%;
    transform-origin: 0;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}