/*=======================================================================================
                                :-Start Responsive Css-:-
*=============================================================================================*/

/*=======================================================================================
                                :-large/dasktop Layout-:-
*=============================================================================================*/
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .get_in_left {
    padding: 130px 57px 0 371px;
  }

  .inner_content_img {
    position: absolute;
    width: 55%;
    left: 3%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .get_in_left {
    padding: 130px 57px 0 235px;
  }
}

/*=======================================================================================
                                :-Tab Layout-:-
*=============================================================================================*/
@media only screen and (max-width: 991px) {

  /* navbar */
  ul.navbar-nav li a {
    margin-bottom: 14px;
  }

  .navbar-custom .navbar-brand {
    padding-bottom: 24px;
  }

  .donate a {
    display: inline-block;
    margin-top: 10px;
  }

  .single_slider h1 {
    font-size: 35px;
  }

  .single_slider h1,
  .single_slider p {
    padding-right: 70px !important;
    padding-left: 70px !important;
  }

  .slider_wrapper button.owl-next i {
    transform: translateX(40px);
  }

  .slider_wrapper button.owl-prev i {
    transform: translateX(-40px);
  }

  .slider_area:hover button.owl-prev i {
    opacity: 1;
    transform: translateX(-38px);
  }

  .slider_area:hover button.owl-next i {
    opacity: 1;
    transform: translateX(38px);
  }

  .link_container a {
    width: 19%;
  }

  /* health feature */
  .food_wrapper {
    padding-bottom: 70px;
  }

  .single_food {
    margin-bottom: 30px;
  }

  /* about*/
  .about_us {
    padding-bottom: 68px;
  }

  a.learn_more {
    margin-bottom: 50px;
  }

  .ch_left_content h3 {
    padding: 16px 0 16px 0;
  }

  /* event section */
  .up_title {
    text-align: center;
    padding: 0 30px;
  }

  .join_now_inner {
    padding: 50px 0 50px 30px;
  }

  .inner_img {
    text-align: center;
  }

  .organic {
    padding-bottom: 48px;
  }

  /* get in touch */
  .get_in_left button.btn {
    margin-bottom: 30px;
  }

  /* stestimonial */
  .testimonial {
    padding: 104px 0 101px 0;
  }

  .get_intouch {
    margin-top: -35px;
  }

  .get_in_left {
    padding: 132px 167px 80px 158px;
  }

  .get_in_right {
    height: 488px;
  }

  .inner_content_img {
    left: 16%;
    top: 22%;
  }

  /* blog */
  .blog_single {
    margin-bottom: 30px;
  }

  .row.margin_bottom div:last-child div:first-child {
    margin-bottom: 0;
  }

  /* -------------------------------
        Video
    --------------------------------- */
  .videopopupjs__content {
    height: 400px !important;
    margin-top: 5% !important;
  }
}

/*=======================================================================================
                                :-Mobile Layout-:-
*=============================================================================================*/
@media only screen and (max-width: 767.98px) {

  /* all heading font size */
  .about_us_left h2,
  .ch_left_content h3,
  .up_title h2,
  .expert_title h2,
  .gallery_heading h2,
  .testimonial .section-title-1 h2,
  .testimonial-contant h4,
  .blog_title h2,
  .footer .section-title h4 {
    font-size: 23px;
    line-height: 37px;
  }

  @keyframes overly-animate {
    from {
      opacity: 0.8;
    }

    to {
      transform: scale(2);
      -webkit-transform: scale(2);
      opacity: 0.1;
    }
  }

  /* navbar */
  .navbar-toggler {
    padding: 0;
  }

  .navbar_wrapper .border-bottom {
    padding: 18px 0 14px 0;
  }

  .navbar-custom {
    padding-top: 15px;
    padding-bottom: 0px;
  }

  /* video */
  .ch_project_left a {
    top: 40%;
    left: 37%;

  }

  .video_wave {
    top: 38%;
    left: 35%;
  }

  .navbar_wrapper {
    position: relative;
  }

  .navbar_wrapper .border-bottom {
    text-align: center;
  }

  .navbar-top-left .phone {
    margin-right: 0;
  }

  .navbar-top-left {
    display: inline-block;
  }

  .navbar-top-right {
    text-align: center;
  }

  .single_slider {
    padding: 41px 0 0 0;
  }

  .single_slider h1,
  .single_slider p {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .link_container a {
    width: 25%;
  }

  /* health features */
  .food_wrapper {
    padding-bottom: 26px;
  }

  .single_food {
    text-align: center;
    padding: 30px 100px;
  }

  /* about us */
  .single_ab_right {
    text-align: center;
    padding: 0 94px;
  }

  .about_us {
    padding-bottom: 31px;
  }

  /* video */
  .charity_project {
    padding: 65px 0 37px 0;
  }

  /* evemt */
  .upcoming_event {
    padding: 57px 0 37px 0;
  }

  /* expert */
  .expert_team {
    padding: 56px 0;
  }

  .single_expert::after {
    bottom: 3%;
  }

  .expert_all_view {
    text-align: center;
  }

  .expert_all_view .view_all {
    margin: 20px 0;
    display: inline-block;
  }

  .filtering {
    padding: 50px 0 30px 0;

  }

  /* gallery */
  .gallery {
    padding-bottom: 37px;
  }

  .gallery_heading p {
    padding: 0;
  }

  ul.simplefilter li {
    margin-bottom: 15px;
  }

  /* testimonial */
  .testimonial {
    padding: 55px 0 61px 0;
  }

  .testimonial-contant p {
    padding: 28px 0 0px 0;
  }

  .tesimonial-slide .owl-dots {
    top: 93%;
  }

  /* get in touch */
  .get_in_right {
    height: 323px;
  }

  .get_intouch {
    margin-top: -40px;

  }

  .inner_content_img span {
    font-size: 26px;
  }

  .get_in_left h4 {
    font-size: 23px;
  }

  .inner_content_img p {
    font-size: 26px;
  }

  .inner_content_img {
    width: 53%;
    left: 18%;
    top: 24%;
  }

  .get_in_left {
    padding: 100px 141px 37px 130px;
  }

  /* blog */
  .letest_blog {
    padding: 100px 0 60px 0;
  }

  .blog_title p {
    padding: 20px 0 38px 0;
  }

  .group-pertnar-contant {
    padding: 60px 0;
  }

  /* footer */
  .footer {
    padding: 17px 0 40px 0;
  }

  .footer .section-title h4 {
    padding: 50px 0 15px 0;
  }

  .page li:last-child {
    margin-bottom: -10px;
  }

  .footer-botom-area {
    padding-top: 44px;
  }

  .videopopupjs__content {
    height: 320px !important;
  }
}

/*=======================================================================================
                                :-Small Mobile Layout-:-
*=============================================================================================*/
@media only screen and (max-width: 575.98px) {
  .navbar-brand {
    font-size: 22px !important;
  }

  .single_slider h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .single_slider p {
    font-size: 16px;
    line-height: 28px;
  }

  .link_container a {
    width: 50%;
    margin-bottom: 15px;
  }

  /* health features */
  .single_food {
    text-align: center;
    padding: 25px;
  }

  /* about us */
  .single_ab_right {
    padding: 0px !important;
  }

  .about_us_left h2 {
    font-size: 25px;
  }

  .top_content {
    padding-right: 0px;
  }

  /* video */
  .ch_left_content {
    padding: 0px;
  }

  .ch_left_content h3 {
    font-size: 25px;
    line-height: 35px;
  }

  /* event */
  .countdown-container .countdown-value {
    font-size: 18px;
  }

  /* client */
  .tesimonial-slide .owl-dots {
    left: 43%;
  }

  /* get touch */
  .get_in_left {
    padding: 100px 15px 20px 15px;
  }

  .inner_content_img {
    width: 88%;
    left: 5%;

  }
}

/*=======================================================================================
                                :- Small Mobile Layout-:-
*=============================================================================================*/
@media only screen and (max-width: 488px) {
  .testimonial {
    padding: 55px 0 87px 0;
  }

  .tesimonial-slide .owl-dots {
    left: 34%;
    top: 100%;
  }

  ul.simplefilter {
    padding: 0;
  }

  ul.simplefilter li {
    width: 100%;
  }
}

/*============================================================================
                        :-End Responsive Css-:-
*==================================================================================*/