/*=======================================================================================
* Author        : GraphTheme
* Template Name : Kindness Charity Landing Theme
* File          : Main css files
* Version       : 1.0
*=============================================================================================*/
/*=======================================================================================
             Table Of Content
            -------------------
            :-0.-Initial/Common Css-:
            :-1. Common button and animation -:
            :-2. Preloader Part Start-:
            :-3. Navbar Part Start-:
            :-4. Slider Part Start-:
            :-5. Food Part Start-:
            :-6. About Us Part Start-:
            :-7. Cheraty Project Part Start-:
            :-8. Upcoming Event Part Start-:
            :-9. Expert Team Part Start-:
            :-10. Gallery Part Start-:
            :-11. Testimonial Part Start-:
            :-12. Get/Contact Part Start-:
            :-13. Blog Part Start-:
            :-14. Group Pertner Part Start-:
            :-15. Footer Part Start-:
            :-16.-Bottom to Top-:
*=============================================================================================*/

/*=======================================================================================
                 :-Import Font and All Css-:
*=============================================================================================*/
/* @import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i'); */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900&display=swap");
@import url("../css/bootstrap.min.css");
@import url("../css/all.css");
@import url("../css/owl.carousel.min.css");
@import url("../css/owl.theme.default.min.css");
@import url("../css/magnific-popup.css");
@import url("../css/animate.min.css");
@import url("../css/video.popup.css");

/* Import CSS Files */
/*=======================================================================================
                0  :-Initial/Common Css-:
*=============================================================================================*/

* {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  list-style: none;
  margin-bottom: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

p {
  margin-bottom: 0;
  padding: 0;
}

.img-thumbnail {
  padding: 0;
  border: 0px solid #dee2e6;
  border-radius: 0;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
}

button:focus {
  outline: 0;
}
.wrapper{
  padding: 100px 0;
}
.single__img img{
  width: 100%;
  cursor: pointer;
}
.overly__img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  
}
.overly__img.visiblee{
  visibility:visible;
}
.overly__img img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transform: scale(0);
  transition: all linear 0.2s;
}
.overly__img.visiblee img{
  transform: scale(1);
  visibility: hidden;
}
.overly__img.visiblee img.activeee{
  visibility: visible !important;
}
.zIndex{
  cursor: default !important;
  z-index: -222;
  background: rgba(255,255,255,0.3) !important;
}
.cross__button {
  position: fixed;
  right: 3%;
  top: 5%;
  background: #fff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 31px;
  color: #f00;
  cursor: pointer;
  z-index: 22;
  transition: all linear 0.3s;
}

.cross__button:hover {transform: scale(1.1);}
.next__arrar {
  background: #fff;
  position: absolute;
  right: 1%;
  height: 50px;
  width: 28px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left__arrar {
  background: #fff;
  position: absolute;
  left: 1%;
  height: 50px;
  width: 28px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.activeee{
    position: fixed;
}
/*=======================================================================================
                  :-1. Common button and animation css-:
*=============================================================================================*/
@keyframes overly-animate {
  from {
    opacity: 0.8;
  }

  to {
    transform: scale(4);
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    opacity: 0.1;
  }
}

.comn_hover_button a {
  border-bottom-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

.comn_hover_button a:hover {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

.commn_btn a {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.commn_btn a:hover span:nth-child(1),
.commn_btn a:hover span:nth-child(2),
.commn_btn a:hover span:nth-child(3),
.commn_btn a:hover span:nth-child(4) {
  opacity: 1;
}

@keyframes btn_animate1 {
  0% {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
  }

  100% {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
  }
}

@-webkit-keyframes btn_animate1 {
  0% {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
  }

  100% {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
  }
}

@keyframes btn_animate2 {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translatY(-100%);
  }

  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
}

@-webkit-keyframes btn_animate2 {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translatY(-100%);
  }

  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
}

@keyframes btn_animate3 {
  0% {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
  }

  100% {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
  }
}

@-webkit-keyframes btn_animate3 {
  0% {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
  }

  100% {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
  }
}

@keyframes btn_animate4 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes btn_animate4 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
}

.commn_btn a span:nth-child(1) {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #0c002b, #f00);
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: btn_animate1 0.5s linear infinite;
  -webkit-animation: btn_animate1 0.5s linear infinite;
  -moz-animation: btn_animate1 0.5s linear infinite;
}

.commn_btn a span:nth-child(2) {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #0c002b, #f00);
  width: 4px;
  height: 100%;
  opacity: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: btn_animate2 0.5s linear infinite;
  -webkit-animation: btn_animate2 0.5s linear infinite;
  -moz-animation: btn_animate2 0.5s linear infinite;
}

.commn_btn a span:nth-child(3) {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #0c002b, #f00);
  width: 100%;
  height: 4px;
  opacity: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: btn_animate3 0.5s linear infinite;
  -webkit-animation: btn_animate3 0.5s linear infinite;
  -moz-animation: btn_animate3 0.5s linear infinite;
}

.commn_btn a span:nth-child(4) {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #0c002b, #f00);
  width: 4px;
  height: 100%;
  left: 0%;
  opacity: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: btn_animate4 0.5s linear infinite;
  -webkit-animation: btn_animate4 0.5s linear infinite;
  -moz-animation: btn_animate4 0.5s linear infinite;
}

/* javascript add class when scrolling  start*/
.my_sticky {
  background: #fff !important;
  margin-top: -175px;
  position: fixed !important;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.2);
}

.my_sticky1 {
  margin-top: 0px !important;
}

.my_sticky1 .row.border-bottom {
  display: none;
}

.navbar-custom .active {
  color: #f00;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #172541;
}

/*=======================================================================================
                  :-2. Preloader Part Start-:
*=============================================================================================*/
.main-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999999;
  background-color: #000;
  text-align: center;
}

.main-preloader-inner {
  position: absolute;
  top: 50%;
  width: 100%;
}

.preloader-percentage {
  color: #66bb6a;
  margin: 0;
}

.preloader-percentage span {
  display: inline-block;
  font-size: 50px;
}

/*=======================================================================================
                  :-3. Navbar Part Start-:
*=============================================================================================*/
.navbar_wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

.navbar_wrapper .border-bottom {
  padding: 18px 0 27px 0;
}

.container.navbar_container {
  background: #fff;
}

.row.nav-row {
  display: block;
}

.navbar-top-left {
  display: flex;
  font-size: 14px;
}

.navbar-top-left .phone {
  margin-right: 20px;
}

.navbar-top-left span {
  margin-left: 11px;
  color: rgb(23, 37, 65);
}

.social i {
  font-size: 14px;
  color: rgb(23, 37, 65);
  margin-left: 8px;
}

.navbar-top-right {
  text-align: right;
}

nav.navbar.navbar-custom .navbar-brand {
  color: #000;
  font-size: 28px;
  font-weight: 600;
}

.navbar-custom {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.navbar-nav li a {
  color: #000;
  padding: 0 14px !important;
  font-size: 15px;
}

ul.navbar-nav li a:hover {
  color: #f00;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

.donate a {
  background: #000;
  padding: 12px 33px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}

/*=======================================================================================
                  :-4. Slider Part Start-:
*=============================================================================================*/
.slider_area {
  background: url("../images/slider_bg.jpg") no-repeat;
  position: relative;
  padding-bottom: 150px;
}

.slider_overly {
  position: absolute;
  background: rgba(17, 23, 29, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.single_slider {
  padding: 250px 0 0 0;
}

.single_slider h1,
.single_slider p {
  padding-right: 143px !important;
  padding-left: 143px !important;
}

.single_slider h1 {
  padding: 30px 0 20px 0;
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  line-height: 60px;
}

.single_slider p {
  font-size: 20px;
  color: #fff;
}

.link_container {
  margin-top: 32px;
}

.link_container a {
  border: 2px solid #ddd;
  display: inline-block;
  width: 14%;
  padding: 12px;
  margin-right: 29px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.link_container .active {
  background: #ff0000;
  border-color: #ff0000;
}

.slider_wrapper .owl-prev {
  position: absolute;
  bottom: 25%;
  left: 0%;
}

.slider_wrapper button.owl-next i {
  background: #fff !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  color: #000 !important;
  font-size: 30px !important;
  padding: 12px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  transform: translateX(19px);
  -webkit-transform: translateX(19px);
  -moz-transform: translateX(19px);
  opacity: 0;
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
}

.slider_wrapper button.owl-prev i {
  background: #fff !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  color: #000 !important;
  font-size: 30px !important;
  padding: 12px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  transform: translateX(-19px);
  -webkit-transform: translateX(-19px);
  -moz-transform: translateX(-19px);
  opacity: 0;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

.slider_area:hover button.owl-prev i {
  opacity: 1;
  transform: translateX(-22px);
  -webkit-transform: translateX(-22px);
  -moz-transform: translateX(-22px);
}

.slider_area:hover button.owl-next i {
  opacity: 1;
  transform: translateX(22px);
  -webkit-transform: translateX(22px);
  -moz-transform: translateX(22px);
}

.owl-nav button:focus {
  outline: 0 !important;
}

.owl-nav button:hover {
  background: none !important;
}

.slider_wrapper .owl-next .fa,
.slider_wrapper .owl-prev .fa {
  font-size: 20px;
  margin: 3px;
}

.slider_wrapper .owl-next {
  position: absolute;
  bottom: 25%;
  right: 0%;
}

/*=======================================================================================
                  :-5. Food Part Start-:
*=============================================================================================*/

.food_wrapper {
  background: #f3f5f5;
  padding-bottom: 100px;
}

.container.food_warpper_container {
  margin-top: -62px;
}

.single_food {
  background: #fff;
  padding: 25px;
  line-height: 25px;
}

.single_food img {
  width: 50px;
  height: 50px;
}

.single_food h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 13px 0;
  line-height: 27px;
}

.single_food p {
  font-size: 14px;
  font-weight: 500;
}

/*=======================================================================================
                  :-6. About Us Part Start-:
*=============================================================================================*/

.about_us {
  background: #f2f5f3;
  padding-bottom: 108px;
}

.top_content {
  padding-right: 132px;
}

.single_ab_right {
  margin-bottom: 30px;
}

.about_us_img img {
  width: 100%;
}

.about_us_left span {
  color: #ff0000;
  font-size: 20px;
  font-weight: 700;
}

.about_us_left h2 {
  font-size: 30px;
  color: #11171d;
}

.about_us_left h4 {
  color: #495057;
  font-weight: 600 !important;
  font-size: 20px;
  padding: 22px 0;
}

.about_us_left p {
  font-size: 18px;
  color: #1d252d;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 15px;
}

a.learn_more {
  background: #ff0000;
  color: #fff;
  padding: 8px 26px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  display: inline-block;
}

.single_ab_right .icon_logo {
  background: #fff;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 21px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
}

.single_ab_right h5 {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 10px 0;
}

.single_ab_right p {
  line-height: 24px;
}

.single_ab_right a {
  color: #ff0000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 9px;
  display: inline-block;
}

.single_ab_right a:hover span i {
  padding-left: 5px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

/*=======================================================================================
                  :-7. Cheraty Project Part Start-:
*=============================================================================================*/

.ch_project_left {
  position: relative;
}

.ch_project_left img {
  width: 100%;
}

.ch_project_left a {
  position: absolute;
  top: 44%;
  left: 44%;
  color: #f00;
  background: #fff;
  width: 80px;
  height: 80px;
  padding: 15px 0 0 27px;
  font-size: 33px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.video_wave {
  position: absolute;
  top: 43%;
  left: 42%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  animation: overly-animate 2s linear infinite;
}

.ch_project_left:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(17, 23, 29, 0.6);
  top: 0;
  left: 0;
  content: "";
}

.ch_left_content h3 {
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 16px 0;
  line-height: 41px;
}

.ch_left_content p {
  font-weight: 400;
  font-size: 15px;
  padding: 7px 0 33px 0;
  line-height: 28px;
}

.charity_project {
  padding: 108px 0 80px 0;
}

.ch_left_content {
  padding: 0 68px 0 0;
}

.single_ch {
  box-shadow: 0 6px 12px 0 rgba(17, 23, 29, 0.12);
  text-align: center;
  padding: 26px 0;
  margin-bottom: 30px;
}

.single_ch h5 {
  padding: 7px 0;
  font-size: 26px;
}

.single_ch span {
  font-size: 16px;
}

/*=======================================================================================
                  :-8. Upcoming Event Part Start-:
*=============================================================================================*/

.upcoming_event {
  background: #f3f5f5;
  padding: 102px 0 80px 0;
}

.up_title {
  text-align: center;
  padding: 0 209px;
}

.up_title h2 {
  font-size: 30px;
  font-weight: 700;
}

.up_title p {
  padding: 25px 0 50px 0;
}

.inner_center_content {
  padding: 20px 0px 0px 30px;
}

.event_inner_content {
  background: #fff;
  margin-bottom: 30px;
}

.inner_center_content span {
  font-size: 16px;
  color: #172541;
  font-weight: 600;
}

.inner_center_content h5 {
  font-size: 20px;
  font-weight: 700;
  padding: 1px 0 15px 0;
}

.inner_center_content p {
  font-size: 14px;
  color: #172541;
  line-height: 25px;
}

.inner_center_content .date {
  display: flex;
  padding: 13px 0 10px 0;
}

.inner_center_content .date span {
  color: #1d252d;
  padding-right: 5px;
}

.inner_center_content .date p {
  padding-right: 11px;
}

.join_now_inner {
  padding: 80px 0 0 11px;
}

.organic {
  display: flex;
}

.admin_content h4 {
  font-size: 14px;
}

.admin_content {
  padding-left: 15px;
}

.image_admin img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.organic {
  padding-bottom: 68px;
}

.join_now_admin a {
  background: #11171d;
  padding: 15px 35px;
  color: #fff;
}

.countdown {
  font-family: "Roboto";
  text-transform: uppercase;
}

.countdown>div {
  display: inline-block;
}

.countdown>div>span {
  display: block;
  text-align: center;
}

.countdown-container {
  margin: 0 3px;
}

.countdown-container .countdown-heading {
  font-size: 11px;
  margin: 3px;
  color: #666;
}

.countdown-container .countdown-value {
  font-size: 30px;
  background: #000;
  width: 60px;
  padding: 7px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

.countdown .countdown-heading {
  padding-bottom: 10px;
}

/*=======================================================================================
                  :-9. Expert Team Part Start-:
*=============================================================================================*/

.expert_team {
  padding: 104px 0;
}

.expert_all_view .view_all {
  background: #ff0000;
  padding: 13px 38px;
  color: #fff;
  font-weight: 700;
}

.expert_all_view {
  text-align: right;
}

.expert_title h2 {
  font-weight: 700;
  font-size: 30px;
  padding: 5px 0 15px 0;
}

.expert_title p {
  line-height: 28px;
}

.single_img {
  margin: 18px 0 17px 0;
}

.single_content h5 {
  font-weight: 600;
  font-size: 16px;
}

.single_content h4 {
  font-weight: 500;
  font-size: 16px;
  padding: 4px 0 13px 0;
}

.single_content {
  text-align: center;
}

ul.single_social {
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 2;
}

ul.single_social li a {
  padding: 5px;
  margin-right: 16px;
  width: 35px;
  display: inline-block;
  height: 35px;
  font-size: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #fff;
}

ul.single_social li a:hover {
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.5);
}

.single_social .face_book {
  background: #4067b8;
}

.single_social .twiter_logo {
  background: #00a1ff;
}

.single_social .instra_logo {
  background: #ff0064;
}

.single_social .pinter_logo {
  background: #ff0800;
}

.single_expert {
  position: relative;
}

.single_expert img {
  width: 100%;
}

.single_expert:after {
  position: absolute;
  content: "";
  background: #e0e0de;
  bottom: 4%;
  width: 100%;
  height: 2px;
  left: 0;
  z-index: -1;
}

/*=======================================================================================
                  :-10. Gallery Part Start-:
*=============================================================================================*/
.gallery {
  padding-bottom: 80px;
}

.gallery .gallery-1 {
  margin-bottom: 30px;
}

.gallery_heading {
  text-align: center;
}

.gallery_heading h2 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 15px;
}

.gallery_heading p {
  padding: 0 127px;
  line-height: 30px;
}

.gallery-protfolio img {
  width: 100%;
}

.filtering {
  text-align: center;
  padding: 50px 0;
}

.filtering .mixitup-control-active {
  background: #ff0000;
  color: #fff;
}

ul.simplefilter li {
  float: left;
  padding: 8px 26px;
  background: #eaeae8;
  margin: 0 3px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

ul.simplefilter li:hover {
  background: #ff0000;
  color: #fff;
}

ul.simplefilter {
  display: inline-block;
}

/*=======================================================================================
                  :-11. Testimonial Part Start-:
*=============================================================================================*/

.testimonial {
  position: relative;
  background: #f3f5f5;
  padding: 104px 0 137px 0;
}

.testimonial .section-title-1 h2 {
  padding-bottom: 15px;
}

.testimonial-img img {
  width: 100%;
}

.testimonial-img img {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 50px;
}

.testimonial-contant p {
  line-height: 36px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-weight: 600;
}

.testimonial-contant h4 {
  padding-top: 28px;
}

.testimonial-contant span {
  font-size: 18px;
  color: #808080;
  font-style: italic;
}

.tesimonial-slide .owl-dots {
  position: absolute;
  top: 82%;
  left: 50%;
}

.tesimonial-slide .owl-stage-outer {
  padding-top: 52px;
}

.tesimonial-slide .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.tesimonial-slide .owl-dots .active span {
  background: #f00 !important;
  border: 1px solid #f00;
}

.tesimonial-slide .owl-dots .owl-dot:hover span {
  background: #f00 !important;
  border: 1px solid #f00;
}

/*=======================================================================================
                  :-12. Get/Contact Part Start-:
*=============================================================================================*/

.get_intouch {
  margin-top: -50px;
}

.get_in_left {
  padding: 132px 57px 0 124px;
}

.get_in_right {
  background: url("../images/contact.jpg") no-repeat;
  height: 725px;
  background-size: cover;
  background-position: center;
}

.get_overly {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.inner_content_img {
  z-index: 1;
  border: 1px solid #fff;
  padding: 9px 10px;
  color: #fff;
  position: absolute;
  width: 61%;
  top: 27%;
  left: 5%;
}

.inner_content_img p {
  font-size: 40px;
  font-weight: 700;
}

.inner_content_img span {
  display: block;
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  margin-top: 32px;
}

.get_in_left input.form-control:focus,
.get_in_left textarea.form-control:focus {
  outline: 0;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}

.get_in_left input.form-control {
  padding: 28px;
}

.get_in_left h4 {
  font-size: 35px;
  padding-bottom: 22px;
}

.get_in_left textarea.form-control {
  padding: 26px;
}

.get_in_left button.btn {
  background: #ff0000;
  border-color: #ff0000;
  border-radius: 0;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  color: #fff;
  padding: 10px 27px;
  margin-top: 9px;
}

.get_in_left button.btn:hover {
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}

/*=======================================================================================
                  :-13. Blog Part Start-:
*=============================================================================================*/
.letest_blog {
  background: #f3f5f5;
  padding: 154px 0 109px 0;
  margin-top: -50px;
}

.blog_single img {
  width: 100%;
}

.blog_title {
  text-align: center;
}

.blog_title h2 {
  font-size: 30px;
  font-weight: 600;
}

.blog_title p {
  line-height: 28px;
  padding: 20px 0 80px 0;
}

.blog_inner_content {
  background: #fff;
  padding: 10px 20px;
}

.blog_inner_content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #172541;
  line-height: 30px;
}

.blog_inner_content p {
  line-height: 27px;
  padding: 14px 0 25px 0;
}

.author_img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.author_part {
  display: flex;
  line-height: 50px;
}

.author_part span {
  margin: 0 12px;
  font-size: 13px;
}

.blog_share i {
  color: #677294;
}

/*=======================================================================================
                  :-14. Group Pertner Part Start-:
*=============================================================================================*/
.group-pertnar-contant {
  padding: 100px 0;
}

.partner-single {
  max-width: 126px;
  height: 51px;
  position: relative;
}

.pertner-slide .owl-item {
  text-align: center;
  display: flex;
  justify-content: center;
}

.partner-main,
.partner-main img {
  width: 100%;
  height: 100%;
}

.partner-overly,
.partner-overly img {
  width: 100%;
  height: 100%;
}

.partner-overly {
  position: absolute;
  top: 24%;
  left: 0;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}

.partner-single:hover .partner-overly {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  top: 0%;
}

/*=======================================================================================
                  :-15. Footer Part Start-:
*=============================================================================================*/

.footer {
  background: url("../images/footerbg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 48px 0 40px 0;
}

.contact-right {
  text-align: right;
}

.footer .section-title p,
.footer .section-title span,
ul.page li a {
  color: #f5f9ff;
  line-height: 34px;
}

ul.page li a:hover {
  color: rgb(231, 91, 91);
}

.footer .section-title h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  padding: 50px 0 22px 0;
}

.footer .section-title span,
.section-title p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  padding-bottom: 15px;
}

.footer .section-title .email {
  padding-right: 10px;
}

ul.footer-social-media {
  padding-top: 40px;
}

ul.social-media li {
  float: left;
}

ul.social-media li a {
  display: block;
  background: #fff;
  color: #000;
  padding: 9px 13px;
  margin-right: 10px;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.social-media li a:hover {
  box-shadow: 0px 0px 25px rgb(228, 10, 21);
  -webkit-box-shadow: 0px 0px 25px rgb(228, 10, 21);
  -moz-box-shadow: 0px 0px 25px rgb(228, 10, 21);
}

ul.page {
  padding: 0;
}

ul.page li {
  margin-bottom: 4px;
}

ul.page li a {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.footer-botom-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 70px;
}

.footer-botom-area.border-top {
  border-color: #353434 !important;
}

.form-group {
  width: 100%;
}

.comn-submit-search input#inputPassword2,
.comn-submit-search input#inputtext {
  width: 100%;
  height: 55px;
  margin-right: 10px;
}

.comn-submit-search .form-inline {
  position: relative;
}

.comn-submit-search button.btn.btn-primary {
  position: absolute;
  width: 60px;
  height: 57px;
  right: 0;
  top: -1px;
  font-size: 21px;
  background: #f00;
  border-color: #f00;
}

.comn-submit-search button.btn.btn-primary .fas {
  font-size: 25px;
}

.copyright-text p,
.list li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}

.list li {
  float: left;
  margin-left: 17px;
}

/* footer end */
/*==============================================================================
                  :16.-Bottom to Top-:
*=================================================================================*/
.top_to span i {
  background: #f00;
  width: 40px;
  height: 40px;
  right: 26px;
  padding: 11px 15px;
  cursor: pointer;
  bottom: 28px;
  position: fixed;
  z-index: 9999;
  color: #fff;
  border-bottom-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  box-shadow: 0 10px 22px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 22px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 22px 1px rgba(0, 0, 0, 0.3);
}

.top_to span i:hover {
  box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.3);
}