    /*
    Flaticon icon font: Flaticon
    Creation date: 23/03/2019 16:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-mac:before { content: "\f100"; }
.flaticon-google-play:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-plane:before { content: "\f103"; }
.flaticon-right:before { content: "\f104"; }
.flaticon-chat-speech-bubbles:before { content: "\f105"; }
.flaticon-phone-call-button:before { content: "\f106"; }
.flaticon-vector:before { content: "\f107"; }
.flaticon-shield:before { content: "\f108"; }
.flaticon-share:before { content: "\f109"; }
.flaticon-relationship:before { content: "\f10a"; }
.flaticon-roller:before { content: "\f10b"; }
.flaticon-add-song:before { content: "\f10c"; }
.flaticon-remove:before { content: "\f10d"; }
.flaticon-minus-symbol:before { content: "\f10e"; }
.flaticon-pyramid:before { content: "\f10f"; }
.flaticon-star:before { content: "\f110"; }
.flaticon-guidepost:before { content: "\f111"; }
.flaticon-board:before { content: "\f112"; }
.flaticon-mission:before { content: "\f113"; }
    
    $font-Flaticon-mac: "\f100";
    $font-Flaticon-google-play: "\f101";
    $font-Flaticon-email: "\f102";
    $font-Flaticon-plane: "\f103";
    $font-Flaticon-right: "\f104";
    $font-Flaticon-chat-speech-bubbles: "\f105";
    $font-Flaticon-phone-call-button: "\f106";
    $font-Flaticon-vector: "\f107";
    $font-Flaticon-shield: "\f108";
    $font-Flaticon-share: "\f109";
    $font-Flaticon-relationship: "\f10a";
    $font-Flaticon-roller: "\f10b";
    $font-Flaticon-add-song: "\f10c";
    $font-Flaticon-remove: "\f10d";
    $font-Flaticon-minus-symbol: "\f10e";
    $font-Flaticon-pyramid: "\f10f";
    $font-Flaticon-star: "\f110";
    $font-Flaticon-guidepost: "\f111";
    $font-Flaticon-board: "\f112";
    $font-Flaticon-mission: "\f113";