	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/03/2019 16:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-mac:before { content: "\f100"; }
.flaticon-google-play:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-plane:before { content: "\f103"; }
.flaticon-right:before { content: "\f104"; }
.flaticon-chat-speech-bubbles:before { content: "\f105"; }
.flaticon-phone-call-button:before { content: "\f106"; }
.flaticon-vector:before { content: "\f107"; }
.flaticon-shield:before { content: "\f108"; }
.flaticon-share:before { content: "\f109"; }
.flaticon-relationship:before { content: "\f10a"; }
.flaticon-roller:before { content: "\f10b"; }
.flaticon-add-song:before { content: "\f10c"; }
.flaticon-remove:before { content: "\f10d"; }
.flaticon-minus-symbol:before { content: "\f10e"; }
.flaticon-pyramid:before { content: "\f10f"; }
.flaticon-star:before { content: "\f110"; }
.flaticon-guidepost:before { content: "\f111"; }
.flaticon-board:before { content: "\f112"; }
.flaticon-mission:before { content: "\f113"; }